* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #bfd7e4;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 407px;
  background: #293241;
}

header h1 {
  color: #ffffff;
  font-family: "Staatliches";
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
}

header p {
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

header img {
  margin-top: 24px;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -60px;
  margin: auto;

  width: 750px;
  border-radius: 20px;
  background: #ffffff;
  margin-bottom: 392px;
}

fieldset {
  border: none;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  width: 100%;
  top: 0;
  color: #4e4958;
}
label span {
  color: #c1bccc;
  margin-left: 8px;
  font-size: 12px;
  line-height: 20px;
}

#pessoal {
  display: flex;
  gap: 22px;
}

#info_pessoal {
  background: #f67669;
  height: 133px;

  font-family: "Staatliches";
  font-weight: 400;
  font-size: 24px;
  padding-top: 50px;

  color: #ffffff;
  border-radius: 20px 20px 0px 0px;
}

fieldset legend {
  font-family: "Staatliches";
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  justify-content: center;

  border-bottom: 1px solid #e6e6f0;
  width: 100%;
  margin: auto;
  padding-bottom: 8px;

  color: #253b51;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.fieldset-wrapper {
  margin-top: 32px;
  padding-right: 64px;
  padding-left: 64px;
}

.fieldset-wrapper legend {
  margin-bottom: 30px;
}

.input-wrapper label {
  margin-bottom: 8px;
}

.input-wrapper input {
  padding: 0 24px;
}

.input-wrapper select {
  appearance: none;
  -webkit-appearance: none;

  padding: 0 24px;
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;

  font-family: "Poppins";

  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
}

#event-name {
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;

  width: 300px;
  height: 55px;
}

#event-category {
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;

  width: 300px;
  height: 55px;
}

#event-email {
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  height: 55px;
}

#event-feedback {
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;

  width: 608px;
  height: 167px;
}

#event-date {
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  width: 300px;
  height: 55px;

  font-family: "Poppins";

  font-size: 14px;
  line-height: 24px;
  color: #645f70;
}

#data-wrapper {
  display: flex;
  justify-content: space-between;
}

#event-time {
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;

  width: 140px;
  height: 55px;

  font-family: "Poppins";

  font-size: 14px;
  line-height: 24px;
  color: #645f70;
}

#event-checkbox {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#event-checkbox input {
  margin-top: -8px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  border-radius: 0px 0px 20px 20px;
  height: 179px;
}

button {
  background: #f67669;
  color: #ffffff;

  width: 495px;
  height: 51px;

  font-family: "Staatliches";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  border: none;
}
